*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# '#' is a comment in a .gitignore file T
my_notes.md
#.gitignore
#.idea/deploymentTargetSelector.xml
# NB : there's TWO .gitignore files = ??? ... / the app/.gitignore file is just for "/build" T
